.HamBurgerIcon{
    display:flex;
    height:45%;
    width:35px;
    flex-direction: column;
    background-color: black;
    box-sizing:border-box;
    justify-content:space-around;
}
.HamBurgerIcon div{
    height:3px;
    background-color: #ca2748;
}